@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
 :root {
    --green: #27ae60;
    --dark-color: #219150;
    --black: #444;
    --light-color: #666;
    --border: .1rem solid rgba(0, 0, 0, .1);
    --border-hover: .1rem solid var(--black);
    --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}

* {
    font-family: 'Acme', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
    transition: none;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: 1rem;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: var(--black);
}

section {
    padding: 2rem 9%;
}

.heading {
    text-align: center;
    margin-bottom: 2rem;
    position: relative;
}

.heading::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    height: .01rem;
    background: rgba(0, 0, 0, .1);
    z-index: -1;
}

.heading span {
    font-size: 3rem;
    padding: .5rem 2rem;
    color: var(--black);
    background: #fff;
    border: var(--border);
    border-radius: 1rem;
}

.btn {
    margin: 0 1rem;
    display: inline-block;
    padding: .9rem 3rem;
    border-radius: .5rem;
    color: #fff;
    background: var(--green);
    font-size: 1.7rem;
    cursor: pointer;
    font-weight: 500;
}

.btn:hover {
    background: var(--dark-color);
}

.btn1 {
    display: inline-block;
    padding: 1rem;
    border-radius: 1rem;
    color: #fff;
    background: var(--green);
    font-size: 1.5rem;
    cursor: pointer;
    font-weight: 500;
}

.btn1:hover {
    background: var(--dark-color);
}

.header .header-1 {
    background: #fff;
    padding: 1.5rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .header-1 .logo {
    font-size: 2.5rem;
    font-weight: bolder;
    color: var(--black);
}

.header .header-1 .logo i {
    color: var(--green);
}

.header .header-1 .search-form {
    width: 50rem;
    height: 5rem;
    border: var(--border);
    overflow: hidden;
    background: #fff;
    display: flex;
    align-items: center;
    border-radius: .5rem;
}

.header .header-1 .search-form input {
    font-size: 1.6rem;
    padding: 0 1.2rem;
    height: 100%;
    width: 100%;
    text-transform: none;
    color: var(--black);
}

.header .header-1 .search-form label {
    font-size: 2.5rem;
    padding-right: 1.5rem;
    color: var(--black);
    cursor: pointer;
}

.header .header-1 .search-form label:hover {
    color: var(--green);
}

.header .header-1 .icons div,
.header .header-1 .icons a {
    font-size: 2.5rem;
    margin-left: 1.5rem;
    color: var(--black);
    cursor: pointer;
}

.header .header-1 .icons div:hover,
.header .header-1 .icons a:hover {
    color: var(--green);
}

#search-btn {
    display: none;
}

.header .header-2 {
    background: var(--green);
}

.header .header-2 .navbar {
    text-align: center;
}

.header .header-2 .navbar a {
    color: #fff;
    display: inline-block;
    padding: 1.2rem;
    font-size: 1.7rem;
}

.header .header-2 .navbar a:hover {
    background: var(--dark-color);
}

.header .header-2.active {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.bottom-navbar {
    text-align: center;
    background: var(--green);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: none;
}

.bottom-navbar a {
    font-size: 2.5rem;
    padding: 2rem;
    color: #fff;
}

.bottom-navbar a:hover {
    background: var(--dark-color);
}

.login-form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, .9);
    position: fixed;
    top: 0;
    right: -105%;
    z-index: 10000;
    height: 100%;
    width: 100%;
}

.login-form-container.active {
    right: 0;
}

.login-form-container form {
    background: #fff;
    border: var(--border);
    width: 40rem;
    padding: 2rem;
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    margin: 2rem;
}

.login-form-container form h3 {
    font-size: 2.5rem;
    text-transform: uppercase;
    color: var(--black);
    text-align: center;
}

.login-form-container form span {
    display: block;
    font-size: 1.5rem;
    padding-top: 1rem;
}

.login-form-container form .box {
    width: 100%;
    margin: .7rem 0;
    font-size: 1.6rem;
    border: var(--border);
    border-radius: .5rem;
    padding: 1rem 1.2rem;
    color: var(--black);
    text-transform: none;
}

.login-form-container form .checkbox {
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: 1rem 0;
}

.login-form-container form .checkbox label {
    font-size: 1.5rem;
    color: var(--light-color);
    cursor: pointer;
}

.login-form-container form .btn {
    text-align: center;
    width: 100%;
    margin: 1.5rem 0;
}

.login-form-container form p {
    padding-top: .8rem;
    color: var(--light-color);
    font-size: 1.5rem;
}

.login-form-container form p a {
    color: var(--green);
    text-decoration: underline;
}

.login-form-container #close-login-btn {
    position: absolute;
    top: 1.5rem;
    right: 2.5rem;
    font-size: 5rem;
    color: var(--black);
    cursor: pointer;
}

.home {
    background: url(../image/banner-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.home .row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.home .row .content {
    flex: 1 1 42rem;
}

.home .row .books-slider {
    flex: 1 1 42rem;
    text-align: center;
    margin-top: 2rem;
}

.home .row .books-slider a img {
    height: 25rem;
    border-radius: 1rem;
    box-shadow: 1px 2px 5px 0 #e2cb70;
}

.home .row .books-slider a:hover img {
    transform: scale(.9);
}

.home .row .books-slider .wall {
    margin-top: -6rem;
    height: 20rem;
    display: flex;
    padding: 4rem 0rem;
}

.home .row .content h3 {
    color: var(--black);
    font-size: 3.5rem;
}

.home .row .content p {
    color: var(--light-color);
    font-size: 2rem;
    padding: 1rem 0;
}

.home .row .content ol {
    color: var(--light-color);
    font-size: 1.5rem;
    line-height: 2;
    padding: 1rem 0;
}

.icons-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
}

.icons-container .icons {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 2rem 0;
}

.icons-container .icons i {
    font-size: 3.5rem;
    color: var(--green);
}

.icons-container .icons h3 {
    font-size: 2.2rem;
    color: var(--black);
    padding-bottom: .5rem;
}

.icons-container .icons p {
    font-size: 1.4rem;
    color: var(--light-color);
}

.featured .featured-slider .box {
    text-align: center;
    position: relative;
    overflow: hidden;
    border-radius: 1rem;
}

.featured .featured-slider .box:hover {
    border: var(--border-hover);
}

.featured .featured-slider .box .image {
    text-align: center;
    border-radius: 1rem;
}

.featured .featured-slider .box:hover .image {
    transform: scale(.9);
}

.featured .featured-slider .box .image img {
    height: 15rem;
    width: 10rem;
    border-radius: 1rem;
    box-shadow: 1px 2px 5px 0 #e2cb70;
}

.featured .featured-slider .box .icons a {
    color: var(--black);
    font-size: 2.2rem;
    padding: 1.3rem 1rem;
}

.featured .featured-slider .box .icons a:hover {
    background: var(--green);
    color: #fff;
}

.featured .featured-slider .box .content {
    padding: 0rem 1rem;
}

.featured .featured-slider .box .content h3 {
    font-size: 1.3rem;
    color: var(--black);
    text-align: -moz-center;
    height: 5rem;
}

.swiper-button-next,
.swiper-button-prev {
    border: var(--border-hover);
    margin: -5rem -1rem;
    color: var(--black);
    background: #fff;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    font-size: 3rem;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    background: var(--black);
    color: #fff;
}

.newsletter {
    background: url(image/Ankor_Wat_temple.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.newsletter form {
    max-width: 45rem;
    margin-left: 33rem;
    text-align: center;
    padding: 5rem 0;
}

.newsletter form h3 {
    font-size: 2.2rem;
    color: #ffff;
    padding-bottom: .7rem;
    font-weight: normal;
}

.newsletter form .box {
    width: 100%;
    margin: .7rem 0;
    padding: 1rem 1.2rem;
    font-size: 1.6rem;
    color: var(--black);
    border-radius: .5rem;
    text-transform: none;
}

.arrivals .arrivals-slider .box {
    text-align: center;
    margin: 1rem 0;
    border-radius: 1rem;
}

.arrivals .arrivals-slider .box:hover {
    transform: scale(.9);
}

.arrivals .arrivals-slider .image img {
    height: 15rem;
    width: 10rem;
    border-radius: 1rem;
    box-shadow: 1px 2px 5px 0 #e2cb70;
}

.arrivals .arrivals-slider .content h3 {
    font-size: 1.3rem;
    color: var(--black);
    height: 5rem;
}

.arrivals-slider1 {
    text-align: center;
    margin: 1rem 0;
    border-radius: 1rem;
}

.arrivals-slider1 .box:hover {
    transform: scale(.9);
}

.arrivals-slider1 .image img {
    height: 15rem;
    width: 10rem;
    border-radius: 1rem;
    box-shadow: 1px 2px 5px 0 #e2cb70;
}

.arrivals-slider1 .content h3 {
    font-size: 1.3rem;
    color: var(--black);
    height: 5rem;
}

#more,
#more1,
#more2,
#more3,
#more4 {
    display: none;
}

.deal {
    background: #f3f3f3;
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.deal .content {
    flex: 1 1 25rem;
}

.deal .image {
    flex: 1 1 42rem;
}

.deal .image img {
    width: 100%;
    border-radius: 1rem;
}

.deal .content h3 {
    color: var(--green);
    font-size: 3rem;
    padding-bottom: .5rem;
}

.deal .content h1 {
    color: var(--black);
    font-size: 2.8rem;
}

.deal .content p {
    padding: 1rem 0;
    color: var(--light-color);
    font-size: 2rem;
    line-height: 2;
}

.reviews .reviews-slider .box {
    border: var(--border);
    padding: 2rem;
    text-align: center;
    margin: 2rem 0;
    border-radius: 1rem;
}

.reviews .reviews-slider .box:hover {
    border: var(--border-hover);
    transform: scale(.9);
}

.reviews .reviews-slider .box img {
    height: 20rem;
    width: 20rem;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 1px 2px 5px 0 #e2cb70;
}

.reviews .reviews-slider .box h3 {
    color: var(--black);
    font-size: 2.2rem;
    padding: .5rem 0;
}

.reviews .reviews-slider .box p {
    color: var(--light-color);
    font-size: 1.4rem;
    padding: 1rem 0;
    line-height: 2;
}

.reviews .reviews-slider .box .stars {
    padding-top: .5rem;
}

.reviews .reviews-slider .box .stars i {
    font-size: 1.7rem;
    color: var(--green);
}

.blogs .blogs-slider .box {
    display: flex;
    margin: 2rem 0;
    height: 30rem;
    box-sizing: border-box;
    padding: 2rem 0rem;
    border-radius: 1rem;
}

.blogs .blogs-slider .box:hover {
    border: var(--border-hover);
}

.blogs .blogs-slider .box .image {
    height: 45rem;
    width: 100%;
    text-align: center;
}

.blogs .blogs-slider .box .image img {
    height: 20rem;
    width: 15rem;
    text-align: center;
    border-radius: 1rem;
    box-shadow: 1px 2px 5px 0 #e2cb70;
}

.blogs .blogs-slider .box:hover .image img {
    transform: scale(.9);
}

.blogs .blogs-slider .box .content {
    width: 100%;
    padding: 0.1rem;
}

.blogs .blogs-slider .box .content h3 {
    text-align: left;
    font-size: 2rem;
    color: var(--black);
}

.blogs .blogs-slider .box .content p {
    text-align: left;
    font-size: 1.6rem;
    color: var(--light-color);
    padding: 1rem 0;
    line-height: 2;
}

.footer .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 1.5rem;
    flex: 1;
    flex-wrap: wrap;
    padding: 0rem 1rem;
}

.footer .box-container .box h3 {
    font-size: 2.2rem;
    color: var(--black);
    padding: 1rem 0;
    min-width: 150px;
}

.footer .box-container .box a {
    display: block;
    font-size: 1.4rem;
    color: var(--light-color);
    padding: 0.5rem 0;
    text-decoration: underline;
}

.footer .box-container .box a i {
    color: var(--green);
    padding-right: .5rem;
}

.footer .box-container .box a:hover i {
    padding-right: 2rem;
}

.footer .share {
    padding: 1rem 0;
    text-align: center;
}

.footer .share a {
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color: #fff;
    background: var(--green);
    margin: 0 .3rem;
    border-radius: 50%;
}

.footer .share a:hover {
    background: var(--black);
}

.footer .credit {
    border-top: var(--border);
    margin-top: 2rem;
    padding: 0 1rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    color: var(--light-color);
    text-align: center;
}

.footer .credit span {
    color: var(--green);
}

.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10000;
    background: #f7f7f7;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader-container.active {
    display: none;
}

.loader-container img {
    height: 10rem;
}

.home {
    background: url(../image/banner-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.home .row-self {
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.home .row-self .self-help {
    flex: 1 1 42rem;
}

.home .row-self .books-slider1 {
    flex: 1 1 42rem;
    text-align: center;
    margin-top: 2rem;
    width: 100%;
}

.home .row-self .books-slider1 a img {
    height: 25rem;
    margin-top: 15rem;
    border-radius: 1rem;
    box-shadow: 1px 2px 5px 0 #e2cb70;
    max-height: 235px;
}

.home .row-self .books-slider1 a:hover img {
    transform: scale(.9);
}

.home .books-slider1 .stand {
    width: 100%;
    margin-top: -57rem;
    border-radius: 1rem;
}

.home .row-self .self-help h3 {
    color: var(--black);
    font-size: 3.5rem;
    text-align: center;
}

.home .row-self .self-help p {
    color: var(--light-color);
    font-size: 2rem;
    padding: 1rem 0;
    text-align: center;
}


/* business*/

.books-slider {
    flex: 1 1 42rem;
    text-align: center;
    margin-top: 2rem;
    width: 100%;
}

.business-top1 {
    padding: 1rem;
}

.books-slider .business-top1 img {
    width: 100%;
    border-radius: 1rem;
    box-shadow: 1px 2px 5px 0 #e2cb70;
    max-height: 235px;
    height: 80%;
}

.books-slider .business-top1:hover img {
    transform: scale(.9);
}

.business-top1 a {
    font-size: 1.5rem;
    padding: 1rem 2rem;
    display: inline-block;
    margin: 1rem;
}


/* recommended reads */

.wrapper-business img {
    border-radius: 1rem;
    box-shadow: 2px 2px 8px #8a8a8a;
    max-height: 235px;
    height: 90%;
}

.wrapper-business .recommended1:hover img {
    transform: scale(.9);
}

.slide-business {
    padding: 0 1rem;
    position: relative;
    height: 233px;
    width: 100%;
    margin-bottom: 30px;
    display: flex;
    animation: bannermove 50s linear infinite;
}

.slide-business .recommended1 {
    text-align: center;
    width: 100%;
}

.recommended1 a {
    font-size: 1.5rem;
    padding: 1rem 2rem;
    display: inline-block;
    margin: 1rem;
}

@keyframes bannermove {
    100% {
        transform: translateX(-600px);
    }
}

.featured-business1 .row .featured-slider-business {
    text-align: center;
    margin-top: 2rem;
}

.featured-business1 .row .featured-slider-business a img {
    height: 15rem;
    width: 10rem;
    border-radius: 1rem;
    box-shadow: 1px 2px 5px 0 #e2cb70;
}

.featured-business1 .row .featured-slider-business a:hover img {
    transform: scale(.9);
}

.content-read {
    margin: 1rem;
}

.read {
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem;
    border-radius: 1rem;
    color: #fff;
    background: var(--green);
    font-size: 1.5rem;
    cursor: pointer;
}

.read:hover {
    background: var(--dark-color);
}


/* new books business*/

h1 {
    font-size: 2.5rem;
    font-family: 'Montserrat';
    font-weight: normal;
    color: #444;
    text-align: center;
}

.wrapper {
    margin: 0 auto;
    max-width: 100%;
}

.cols {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.col {
    width: calc(25% - 2rem);
    margin: 1rem;
    cursor: pointer;
}

.container {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    text-align: center;
}

.front,
.back {
    background-size: cover;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    background-position: center;
    -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    text-align: center;
    height: auto;
    min-height: 200px;
    border-radius: 10px;
    color: #000;
    font-size: 1.3rem;
}

.back {
    background: #cedce7;
    background: -webkit-linear-gradient(45deg, #cedce7 0%, #596a72 100%);
    background: -o-linear-gradient(45deg, #cedce7 0%, #596a72 100%);
    background: linear-gradient(45deg, #cedce7 0%, #596a72 100%);
}

.front:after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    content: '';
    display: block;
    opacity: .6;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 10px;
}

.container:hover .front,
.container:hover .back {
    -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
}

.inner {
    -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
    transform: translateY(-50%) translateZ(60px) scale(0.94);
    top: 50%;
    position: absolute;
    left: 0;
    width: 100%;
    padding: 2rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: 1px solid transparent;
    -webkit-perspective: inherit;
    perspective: inherit;
    z-index: 2;
}

.container .back {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.container .front {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.container:hover .back {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.container:hover .front {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}


/* audiobooks*/

.audiobook-top {
    overflow: auto;
    margin: 2rem 10rem;
    padding: 0rem 2rem;
    background: url(image/Ankor_Wat_temple.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 1rem;
    box-shadow: 1px 2px 5px 0 #e2cb70;
}

.audiobook {
    margin-top: 40rem;
    margin-bottom: 2rem;
    float: left;
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
}

.audiobook img {
    height: 20rem;
    width: 12.8rem;
    border-radius: 1rem;
    box-shadow: 1px 2px 5px 0 #e2cb70;
    margin: 2rem 0.5rem;
}

.audiobook:hover img {
    transform: scale(.9);
}

.content-audiobook h3 {
    color: #000;
    font-size: 3.5rem;
    text-align: center;
}

.content-audiobook p {
    color: var(--light-color);
    font-size: 2rem;
    text-align: center;
}

.audiobook .click-listen a {
    display: block;
    text-align: center;
    margin: 0rem 1rem;
    margin-top: -1rem;
}

.listen {
    display: inline-block;
    padding: .9rem 3rem;
    border-radius: .5rem;
    color: #fff;
    background: var(--green);
    font-size: 1.7rem;
}

.listen:hover {
    background: var(--dark-color);
}


/*recommended-listen*/

.audiobook-top1 {
    overflow: auto;
    margin: 2rem 10rem;
    padding: 0rem 2rem;
    border-radius: 1rem;
    box-shadow: 1px 2px 5px 0 #ccc29c;
}

.audiobook1 {
    margin-bottom: 2rem;
    float: left;
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
}

.audiobook1 img {
    height: 20rem;
    width: 12.8rem;
    border-radius: 1rem;
    box-shadow: 1px 2px 5px 0 #e2cb70;
    margin: 2rem 0.5rem;
}

.audiobook1:hover img {
    transform: scale(.9);
}

.audiobook1 .click-listen a {
    display: block;
    text-align: center;
    margin: 0rem 1rem;
    margin-top: -1rem;
}


/*  cambodian author */

.author {
    display: flex;
    border-radius: 1rem;
    box-shadow: 1px 2px 5px 0 #e2cb70;
    margin: 1rem 10rem;
    background: rgb(255, 252, 229);
}

.author .caption {
    flex: 1 1 25rem;
}

.author .image {
    flex: 1 1 30rem;
    margin: 0 -45rem 0rem -10rem;
}

.author .image img {
    width: 250px;
    height: 250px;
    border-radius: 15rem;
}

.author .caption h3 {
    color: var(--green);
    font-size: 3rem;
    text-align: center;
}

.author .caption h1 {
    color: var(--black);
    font-size: 2rem;
    text-align: left;
}

.author .caption p {
    color: var(--light-color);
    font-size: 2rem;
}


/* new arrival audiobook*/

.wrapper .cols {
    margin: 0rem -2rem;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 1px 2px 5px 0 #ccc29c;
}

.cols .container a {
    margin-top: 1rem;
    text-align: center;
}


/* media queries  */

@media (max-width:991px) {
    html {
        font-size: 55%;
    }
    .header .header-1 {
        padding: 2rem;
    }
    section {
        padding: 1rem 0rem;
    }
}

@media (max-width:667px) {
    html {
        scroll-padding-top: 0;
    }
    body {
        padding-bottom: 6rem;
    }
    .header .header-2 {
        display: none;
    }
    .bottom-navbar {
        display: block;
    }
    #search-btn {
        display: inline-block;
    }
    .header .header-1 {
        box-shadow: var(--box-shadow);
        position: relative;
    }
    .header .header-1 .search-form {
        position: absolute;
        top: -115%;
        right: 2rem;
        width: 90%;
        box-shadow: var(--box-shadow);
    }
    .header .header-1 .search-form.active {
        top: 115%;
    }
    .home .row .content p {
        text-align: center;
    }
    .home .row .content h3 {
        font-size: 3.5rem;
        text-align: center;
    }
    .home .row ol {
        margin-left: 15rem;
    }
    .home .row .books-slider .wall {
        margin-top: -8rem;
        height: 25rem;
        display: flex;
        padding: 6rem 0rem;
    }
    .home .row-self .books-slider1 .wall {
        width: 100%;
        margin-top: -36rem;
        height: 40rem;
    }
    .home .row-self .books-slider1 a img {
        height: 25rem;
        margin-top: 5rem;
        margin-bottom: 5rem;
        padding-bottom: 0rem;
        box-shadow: 1px 2px 5px 0 #e2cb70;
    }
    .blogs .blogs-slider .box .image {
        height: 45rem;
        width: 45%;
        text-align: center;
    }
    .blogs .blogs-slider .box {
        height: 25rem;
    }
    .reviews .reviews-slider .box img {
        height: 20rem;
        width: 20rem;
    }
    .newsletter {
        background-position: center;
    }
    .newsletter form {
        margin-left: 0;
        max-width: 100%;
    }
    .books-slider a img {
        height: 15rem;
    }
    .wrapper-business {
        margin-top: -5rem;
        width: 65rem;
        height: 35rem;
    }
    .wrapper-business .slide-business {
        padding: 8rem 25rem;
        margin: 0rem -22rem;
    }
    .cols {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .col .front {
        width: 100%;
        min-height: 130px;
        font-size: 1.3rem;
    }
    .back {
        width: 100%;
        min-height: 130px;
        font-size: 1.3rem;
    }
    .books-slider .business-top1 a {
        font-size: 1.5rem;
        text-align: center;
        margin: 0.5rem 0rem;
        padding: 1rem 1rem;
    }
    .audiobook-top {
        background-position: center;
        max-height: 60rem;
        margin: 0rem 1rem;
    }
    .audiobook img {
        margin-top: -2rem;
        height: 15rem;
        width: 11rem;
        display: flex;
    }
    .audiobook-top1 {
        margin: 1rem;
        display: inherit;
    }
    .audiobook1 img {
        width: 14rem;
        display: flex;
    }
    .wrapper .cols {
        margin: 1rem;
        padding: 2rem;
    }
    .deal {
        text-align: center;
    }
    .swiper-button-next,
    .swiper-button-prev {
        display: none;
    }
}

@media (max-width:450px) {
    html {
        font-size: 40%;
    }
}